{% extends 'base.html' %}
{% load cache %}
{% load siteutils %}

{% block title %}IEEE 802.11 Official Timelines{% endblock %}

{% block extra-head %}
{% if needs_update %}
<meta http-equiv="refresh" content="15; URL=''">
{% endif %}
{% endblock %}

{% block css %}
{% cache cache.timeout tcss %}
table.timeline caption{
	font-size: 16pt;
	font-family: Arial;
	vertical-align: middle;
	text-align: center;
	color:black;
	height: 40px;
	border: 1px solid ;
 	padding-top: 5px;
 	background: rgb(230, 170, 120);
	}
table.timeline caption.caption1{
 	background: rgb(0, 255, 0);
}
table.timeline caption.caption2{
 	background: rgb(0, 0, 200);
 	color:white;
}
table.timeline caption a:link, table.timeline caption a:visited {
	text-decoration: none;
	color: black;
}
table.timeline caption.caption2 a:link, table.timeline caption.caption2 a:visited {
	color: white;
}
table.timeline {
	border-color: #333;
	font-family: Arial;
	font-size: 7pt;
	text-align: center;
	padding: 1px;
	margin: 2px;
	border-collapse: collapse;
	table-layout: fixed;
}	
table.timeline td {
	border: 1px solid black;
	padding: 1px 2px;
	height: 30px;
}
table.timeline tr.row1 td.first, table.timeline tr.row1 td.est{
	background: rgb(255, 255, 153);
}
table.timeline tr.row2 td.first, table.timeline tr.row2 td.est{
	background: rgb(255, 204, 153);
}
table.timeline th.result {
	font-size: 6pt;
	padding: 1px 1px;
}
td.conf {
	background: lime;
}
table.timeline th.date div{
	width: 55px;
}
table.timeline th.pardate div{
	width: 64px;
}
table.timeline tr.row1 {
	background: rgb(192, 192, 192);
}
table.timeline tr.row2 {
	background: white;
}
table.timeline th {
	background: black;
	border: 1px solid white;
	color: white;
	vertical-align: bottom;
	text-align: center;
	padding: 2px 4px;
	font-size: 7pt;
}
table.timeline th.first {
	border-left: 1px solid black;
}
table.timeline th.last {
	border-right: 1px solid black;
}
table.timeline th.doctype {
	padding: 2px 1px;
}
table.timeline th a:link, table.timeline th a:visited {
	color: #f0f000;
	text-decoration: none;
}
table.timeline td a:link, table.timeline td a:visited {
	text-decoration: none;
}	
#trademarks {	
	margin: 0 0 0;
	text-align: center;
	font-size: 7.5pt;
	 font-family: Arial;
	 }
#maintained {
	text-align: center;
}
#notes {
	font-size: 7pt;
	font-family: Arial;
	width: 120em;
	margin: 0.5em auto;
}
#notes td.key {
	text-align: right;
}
#notes td.value {
	text-align: left;
}
.disabled {
	color: 808080;
	}
{% endcache %}
{% endblock %}

{% block header %}
{% if needs_update %}
<a id="logo" href="{% url timeline.views.main_page %}">UPDATES ARE BEING PROCESSED</a>
{% else %}
<a id="logo" href="/">OFFICIAL IEEE 802.11 WORKING GROUP PROJECT TIMELINES - {% now "Y-m-d" %}</a>
{% endif %}
{% if not cache.export %}<div id="greeting">{{user.username}}</div>{%endif %}
{% endblock %}

{% block content %}
{% site_urls %}
{% cache cache.timeout cprocess cache.in_progress_ver cache.export urls.last_modified %}
{% with "IN PROCESS - Standards, Amendments, and Recommended Practices" as caption %}
{% with 0 as published %}
{% with in_process as standards %}
{% include "timeline/timeline.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endcache %}

{% cache cache.timeout cpublished cache.published_ver cache.export urls.last_modified %}
{% with "PUBLISHED - Standards, Amendments, and Recommended Practices" as caption %}
{% with published as standards %}
{% with 1 as published %}
{% include "timeline/timeline.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endcache %}

{% cache cache.timeout cwithdrawn cache.withdrawn_ver cache.export urls.last_modified %}
{% with "SUPERSEDED OR WITHDRAWN  -  Standards, Amendments, and Recommended Practices" as caption %}
{% with withdrawn as standards %}
{% with 2 as published %}
{% include "timeline/timeline.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endcache %}

{% cache cache.timeout notes urls.last_modified %}
<table id="notes"> 
    <col width="5%" />
    <col width="19%" />
    <col width="3%" />
    <col width="13%" />
    <col width="12%" />
    <col width="20%" />
    <col width="11%" />
    <col width="17%" />
    <thead>
  <tr>
    <th colspan="8" style="background:black; color: white;">Timeline Chart Notes:</th>
    </tr>
    </thead><tbody>
  <tr>
    <td class="key">C</td>
    <td >&nbsp;=&nbsp; Stage Completed or Currently In-Process</td>
    <td class="key">N/A</td>
    <td >&nbsp;=&nbsp; Not Applicable</td>
    <td class="key">MEC</td>
    <td >&nbsp;=&nbsp;IEEE-SA Mandatory Editorial Coordination</td>
    <td class="key">MDR</td>
    <td >&nbsp;=&nbsp;802.11 WG Mandatory Draft Review</td>
  </tr>
  <tr>
    <td class="key">A / COR</td>
    <td >&nbsp;=&nbsp;Amendment / Corrigendum</td>
    <td class="key">RP</td>
    <td >&nbsp;=&nbsp; Recommended Practice</td>
    <td class="key">Final 802.11 WG</td>
    <td colspan="3">&nbsp;=&nbsp; Approval by 802.11 WG - <a href="{{urls.wg_meeting_plan}}">Current WG Calendar</a></td>
  </tr>
  <tr>
    <td class="key">Predicted</td>
    <td >&nbsp;=&nbsp; Current Date Estimate</td>
    <td class="key">SB</td>
    <td >&nbsp;=&nbsp; Sponsor Ballot</td>
    <td class="key">Final or Conditional 802 EC</td>
    <td colspan="3">&nbsp;=&nbsp; Approval by 802 EC at Plenary Session - <a href="{{urls.ec_meeting_plan}}">Current 802 EC Plenary Calendar</a></td>
  </tr>
  <tr>
    <td class="key">Date</td>
    <td >&nbsp;=&nbsp; Actual or Start Date</td>
    <td class="key">STD</td>
    <td >&nbsp;=&nbsp; Standard and/or Revision</td>
    <td class="key">RevCom/Standards Board</td>
    <td colspan="3">&nbsp;=&nbsp; Approval of RevCom / IEEE-SA Standards Board in Normal Session -  <a href="{{urls.ieee_sa_calendar}}">Current IEEE-SA Calendar</a></td>
  </tr>
  <tr>
    <td class="key">LB</td>
    <td >&nbsp;=&nbsp; Letter Ballot      </td>
    <td class="key">TG</td>
    <td >&nbsp;=&nbsp; Task Group</td>
    <td class="key">ANSI</td>
    <td >&nbsp;=&nbsp; American National Standards Institute</td>
  </tr>
  </tbody>
</table>
{% endcache %}       
{% cache cache.timeout tpublished cache.published_ver urls.last_modified %}
      <div id="maintained"><p>This page is maintained by
	{% with urls.timeline_maintainers_list as email_list %}
	{% include "emails.html" %}
	{% endwith %}
      . Comments are welcome.</p></div>
      <p id="trademarks">
      IEEE Std 802.11{% for p in published %}, 802.11{{p.task_group|slice:"2:"}} {%endfor %}{% for p in in_process %}, 802.11{{p.task_group|slice:"2:"}} {%endfor %}
      , 802.11.1 and 802.11.2 are trademarks of
the IEEE. All other names or product names are the trademarks, service
marks or registered trademarks of their respective holders.
      </p>
{% endcache %}       
      {% endblock %}
