{% extends "base.html" %}
{% load siteutils %}
{% block preload_js %}
<script type="text/javascript" src="{%get_staticfiles_prefix%}js/jquery-1.10.0.min.js"></script>
{% endblock %}

{% block content %}
<h2>Are you sure you want to rebuild the database?</h2>
<p>Under normal cicumstances the database automatically builds all denormalized data
	when projects, ballots or reports are edited. Rebuilding all this data uses up a 
	lot of database PUT requests, which can cause this application to exceed its
	free quota. You should only use this option if:
	<ul>
		<li>You are sure it needs doing</li>
		<li>You understand what it's doing</li>
	</ul></p>
<form action="" method="post">
{% csrf_token %}
<table>{{form}}</table>
<input class="button" type="submit" name="yes" value="Yes, I'm sure" />
<input class="button" type="button" id="id_cancel" name="cancel" value="No, I'm not"/>
</form>
<script type="text/javascript">
$(document).ready(function(){
	'use strict';
	$('#id_cancel').on('click', function(ev){
		var nextpage = document.location.search.slice(6);
		ev.preventDefault();
		document.location.replace(document.location.origin+nextpage);
		return false;
	});
});
</script>
{% endblock %}
