{% extends "base.html" %}
{% load siteutils %}
{% block title %}Importing Projects and Ballots{% endblock %}

{% block css %}
#progress p.bar {
        width: 300px;
        height: 20px;
        background: #dddde6;
        display: table-cell;
        border: 1px solid #999999;
        padding: 0px;
        margin: 0px;
}

#progress p.percent {
        font-weight: bold;
        position: relative;
        padding: 0px;
        margin: 0px;
        left: 130px;
        top: -24px;
}
{% endblock %}
{% block extra-head %}
{% if progress.finished %}
<meta http-equiv="refresh" content="3; URL='{% url util.views.import_done progress.pk %}'">
{% else %}
<meta http-equiv="refresh" content="10; URL=''">
{% endif %}
{% endblock %}

{% block content %}
<div id="progress">
<p class="bar"><img src="{% get_staticfiles_prefix %}images/bar.png" height="24" width="{% widthratio progess.current_line progess.linecount 300 %}"
alt="" /></p><p class="percent">{{ progress.percent }}%
</div>
{% if progress.started %}
<p>Import process started at {{progress.started}} {% if progress.finished %} and finished at {{progress.finished}}{%endif %}</p>
{% else %}
<p>The import process will start shortly.</p>
{% endif %}
<p>The input file contains {{progress.linecount|add:"-1"}} line{{progress.linecount|pluralize}} and so far 
{{progress.current_line}} line{{progress.current_line|pluralize}} have been processed</p>
<p>{{progress.project_count}} project{{progress.project_count|pluralize}}, {{progress.ballot_count}}
ballot{{progress.ballot_count|pluralize}} and {{progress.report_count}}
meeting report{{progress.report_count|pluralize}} have been imported</p>
{% endblock %}