{% extends 'base.html' %}
{% load url from future %}
{% load cache %}
{% load siteutils %}

{% block title %}IEEE 802.11 Official Timelines{% endblock %}

{% block extra-head %}
{% if needs_update %}
<meta http-equiv="refresh" content="15">
{% endif %}
{% include_css "timeline.css" %}
{% endblock %}

{% block header %}
{% if needs_update %}
<a id="logo" href="{% url 'timeline.views.main_page' %}">UPDATES ARE BEING PROCESSED</a>
{% else %}
<a id="logo" href="/">OFFICIAL IEEE 802.11 WORKING GROUP PROJECT TIMELINES - {% now "Y-m-d" %}</a>
{% endif %}
{% if not cache.export %}<div id="greeting">{{user.username}}</div>{%endif %}
{% endblock %}

{% block content %}
{% site_urls %}
{% cache cache.timeout cprocess cache.in_progress_ver cache.export urls.last_modified %}
{% with "IN PROCESS - Standards, Amendments, and Recommended Practices" as caption %}
{% with 0 as published %}
{% with in_process as standards %}
{% include "timeline/timeline.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endcache %}

{% cache cache.timeout cpublished cache.published_ver cache.export urls.last_modified %}
{% with "PUBLISHED - Standards, Amendments, and Recommended Practices" as caption %}
{% with published as standards %}
{% with 1 as published %}
{% include "timeline/timeline.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endcache %}

{% cache cache.timeout cwithdrawn cache.withdrawn_ver cache.export urls.last_modified %}
{% with "SUPERSEDED OR WITHDRAWN  -  Standards, Amendments, and Recommended Practices" as caption %}
{% with withdrawn as standards %}
{% with 2 as published %}
{% include "timeline/timeline.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endcache %}

{% cache cache.timeout notes urls.last_modified %}
<table id="notes">
    <col width="5%" />
    <col width="19%" />
    <col width="3%" />
    <col width="13%" />
    <col width="12%" />
    <col width="20%" />
    <col width="11%" />
    <col width="17%" />
    <thead>
  <tr>
    <th colspan="8" style="background:black; color: white;">Timeline Chart Notes:</th>
    </tr>
    </thead><tbody>
  <tr>
    <td class="key">C</td>
    <td >&nbsp;=&nbsp; Stage Completed or Currently In-Process</td>
    <td class="key">N/A</td>
    <td >&nbsp;=&nbsp; Not Applicable</td>
    <td class="key">MEC</td>
    <td >&nbsp;=&nbsp;IEEE-SA Mandatory Editorial Coordination</td>
    <td class="key">MDR</td>
    <td >&nbsp;=&nbsp;802.11 WG Mandatory Draft Review</td>
  </tr>
  <tr>
    <td class="key">A / COR</td>
    <td >&nbsp;=&nbsp;Amendment / Corrigendum</td>
    <td class="key">RP</td>
    <td >&nbsp;=&nbsp; Recommended Practice</td>
    <td class="key">Final 802.11 WG</td>
    <td colspan="3">&nbsp;=&nbsp; Approval by 802.11 WG - <a href="{{urls.wg_meeting_plan}}">Current WG Calendar</a></td>
  </tr>
  <tr>
    <td class="key">Predicted</td>
    <td >&nbsp;=&nbsp; Current Date Estimate</td>
    <td class="key">SB</td>
    <td >&nbsp;=&nbsp; Sponsor Ballot</td>
    <td class="key">Final or Conditional 802 EC</td>
    <td colspan="3">&nbsp;=&nbsp; Approval by 802 EC at Plenary Session - <a href="{{urls.ec_meeting_plan}}">Current 802 EC Plenary Calendar</a></td>
  </tr>
  <tr>
    <td class="key">Date</td>
    <td >&nbsp;=&nbsp; Actual or Start Date</td>
    <td class="key">STD</td>
    <td >&nbsp;=&nbsp; Standard and/or Revision</td>
    <td class="key">RevCom/Standards Board</td>
    <td colspan="3">&nbsp;=&nbsp; Approval of RevCom / IEEE-SA Standards Board in Normal Session -  <a href="{{urls.ieee_sa_calendar}}">Current IEEE-SA Calendar</a></td>
  </tr>
  <tr>
    <td class="key">LB</td>
    <td >&nbsp;=&nbsp; Letter Ballot      </td>
    <td class="key">TG</td>
    <td >&nbsp;=&nbsp; Task Group</td>
    <td class="key">ANSI</td>
    <td >&nbsp;=&nbsp; American National Standards Institute</td>
  </tr>
  </tbody>
</table>
{% endcache %}
{% cache cache.timeout tpublished cache.published_ver urls.last_modified %}
      <div id="maintained"><p>This page is maintained by
	{% with urls.timeline_maintainers_list as email_list %}
	{% include "emails.html" %}
	{% endwith %}
      . Comments are welcome.</p></div>
      <p id="trademarks">
      IEEE Std 802.11{% for p in published %}, 802.11{{p.task_group|slice:"2:"}} {%endfor %}{% for p in in_process %}, 802.11{{p.task_group|slice:"2:"}} {%endfor %}
      , 802.11.1 and 802.11.2 are trademarks of
the IEEE. All other names or product names are the trademarks, service
marks or registered trademarks of their respective holders.
      </p>
{% endcache %}
      {% endblock %}
