{% load siteutils %}
{% load url from future %}
<table class="timeline">
<caption class="caption{{published}}">{% if not cache.export %}<a href="?redraw={{published}}">{%endif%}{{caption}}{% if not cache.export %}</a>{%endif%}</caption>
<thead>
    <tr>
    <th rowspan="3" class="first">IEEE Project and Final Document</th>
    <th rowspan="3" class="doctype">Final Doc Type</th>
<th rowspan="3">Project Authorization Request (PAR)</th>
<th rowspan="3">Task Group and Activity</th>
<th colspan="2">Documentation</th>
<th rowspan="3">Current Status</th>
<th rowspan="3" class="pardate"><div>PAR Approved, Modified, or Extended [Expires]</div></th>
<th colspan="4"><a href="{{urls.wg_letter_ballots}}">WG Letter Ballots</a></th>
<th rowspan="3" class="date"><div>Form Sponsor Ballot Pool / Reform</div></th>
<th rowspan="3" class="date"><div>MEC<br />/ MDR<br />Done</div></th>
<th colspan="4"><a href="{{urls.sponsor_ballots}}">IEEE-SA Sponsor Ballots</a></th>
<th rowspan="3" class="date"><div>Final 802.11 WG Approval</div></th>
<th rowspan="3" class="date"><div>Final or Conditional 802 EC Approval</div></th>
<th rowspan="3" class="date"><div>RevCom &amp; Standards Board Final or Continuous Process Approval</div></th>
<th rowspan="3" class="date"><div>ANSI Approved</div></th>
<th rowspan="3" class="date last"><div>Superseded or Withdrawn by Standards Board</div></th>
    </tr>
    <tr>
    <th colspan="2">Session End Snapshot</th>
   	<th class="draft">Draft</th><th colspan="2" class="date"><div>Date</div></th><th class="result">Result</th>
   	<th class="draft">Draft</th><th colspan="2" class="date"><div>Date</div></th><th class="result">Result</th>
   	</tr>
   	<tr>
   	<th class="result">Format &amp; Version</th>
   	<th>Incorporated Baselines</th>
   	<th colspan="2" class="predicted">Predicted<br />Initial</th><th colspan="2" class="predicted">Predicted<br />Recirc</th>
   	<th colspan="2" class="predicted">Predicted<br />Initial</th><th colspan="2" class="predicted">Predicted<br />Recirc</th>
   	</tr>
    </thead>
    <tbody>
    {% for std in standards %}
    <tr class="{% cycle 'row1' 'row2' as rowcol %}">
    <td {% if not published %}rowspan="2"{% endif %} class="first"><a name="{{std.slug}}"></a>
    {% if not cache.export %}<a href="{% url 'timeline.views.edit_project' std.pk %}?next={{next_page|escape}}">{% endif %}
    IEEE Std P{{std.fullname}}{% if not cache.export %}</a>{%endif%}</td>
    <td {% if not published %}rowspan="2"{% endif %}>{{std.doc_type}}</td>
    <td {% if not published %}rowspan="2"{% endif %}>{% if std.par %}<a href="{{std.par}}">{%endif%}{{std.description}}{% if std.par %}</a>{%endif%}</td>
    <td {% if not published %}rowspan="2"{% endif %}>{% if std.task_group_url %}<a href="{{std.task_group_url}}">{%endif%}{{std.task_group}}{% if std.task_group_url %}</a>{%endif%}</td>
    <td {% if not published %}rowspan="2"{% endif %}>{{std.doc_format|padslash}}{% if std.doc_version %}<br />D{{std.doc_version}}{% endif %}</td>
    <td {% if not published %}rowspan="2"{% endif %}>{% for base in std.baselines %}{%if not forloop.first%}<br />{%endif%}
    <a href="#{{base.slug}}">{{base.name}}</a>{% endfor %}</td>
    <td>Actual</td>
    <td class="date">{{std.par_date|date:"Y-m-d"}}{%for h in std.par_history %}<br /><span>({{h}})</span>{%endfor%}{% if std.par_expiry %}<br /><span>[{{std.par_expiry|date:"Y-m-d"}}]</span>{% endif %}</td>
    {% with std.wg_ballots as ballots %}
    {% include "timeline/ballots.html" %}
	{% endwith %}    
    <td>{% if std.sb_formed %}{{std.sb_form_date|date:"Y-m-d"}}{% endif %}</td>
    <td>{% if std.mec_completed %}{{std.mec_date|date:"Y-m-d"}}{% endif %}</td>
    {% with std.sb_ballots as ballots %}
    {% include "timeline/ballots.html" %}
	{% endwith %}    
    <td>{% if std.wg_approved %}{{std.wg_approval_date|date:"Y-m-d"}}{% if std.published and not std.wg_approval_date%}C{%endif%}{% endif %}</td>
    <td>{% if std.ec_approved %}{{std.ec_approval_date|date:"Y-m-d"}}{% if std.published and not std.ec_approval_date%}C{%endif%}{% endif %}</td>
    <td>{% if std.published %}{{std.revcom_approval_date|date:"Y-m-d"}}{% endif %}</td>
    <td>{% if std.ansi_approval_date and std.ansi_approval_date.toordinal <= now.toordinal %}{{std.ansi_approval_date|date:"Y-m-d"}}{% endif %}</td>
    <td>{% if std.withdrawn_date and std.withdrawn_date.toordinal <= now.toordinal %}{{std.withdrawn_date|date:"Y-m-d"}}{% endif %}</td>
	</tr>
	{% if not published %}<tr class="{{rowcol}}">
    <td class="est">Predicted</td>
    <td class="conf">C</td>
    <td colspan="2" {% if not std.initial_wg_ballots %}class="est"{% else %}class="conf"{% endif %}>{% if not std.initial_wg_ballots %}{{std.initial_wg_ballot|date:"M y"}}{% else %}C{% endif %}</td>
    <td colspan="2" {% if not std.recirc_wg_ballots %}class="est"{% else %}class="conf"{% endif %}>{% if not std.recirc_wg_ballots %}{{std.recirc_wg_ballot|date:"M y"}}{% else %}C{% endif %}</td>
    <td {% if std.sb_formed %}class="conf"{%else%}class="est"{%endif %}>{% if not std.sb_formed %}{{std.sb_form_date|date:"M-y"}}{% else %}C{% endif %}</td>
    <td {% if std.mec_completed %}class="conf"{%else%}class="est"{%endif %}>{% if std.mec_completed %}C{%else%}{{std.mec_date|date:"M-y"}}{% endif %}</td>
   	<td colspan="2" {% if not std.initial_sb_ballots %}class="est"{%else%}class="conf"{%endif%}>{% if not std.initial_sb_ballots %}{{std.initial_sb_ballot|date:"M y"}}{% else %}C{% endif %}</td>
    <td colspan="2" {% if not std.recirc_sb_ballots %}class="est"{%else%}class="conf"{%endif%}>{% if not std.recirc_sb_ballots %}{{std.recirc_sb_ballot|date:"M y"}}{% else %}C{% endif %}</td>
    <td {% if std.wg_approved %}class="conf"{%else%}class="est"{%endif%}>{% if std.wg_approved %}C{%else%}{{std.wg_approval_date|date:"M-y"}}{% endif %}</td>
    <td {% if std.ec_approved %}class="conf"{%else%}class="est"{%endif%}>{% if std.ec_approved %}C{%else%}{{std.ec_approval_date|date:"M-y"}}{% endif %}</td>
    <td {% if std.published %}class="conf"{%else%}class="est"{%endif%}>{% if std.published %}C{%else%}{{std.revcom_approval_date|date:"M-y"}}{% endif %}</td>
    <td {% if std.ansi_approval_date and std.ansi_approval_date.toordinal <= now.toordinal %}class="conf"{%else%}class="est"{%endif%}>
    	{% if std.ansi_approval_date and std.ansi_approval_date.toordinal > now.toordinal %}{{std.ansi_approval_date|date:"M-y"}}{% else %}
    	{% if std.ansi_approval_date %}C{%else%}N/A{%endif%}
    	{% endif %}
    </td>
    <td {% if std.withdrawn %}class="conf"{%else%}class="est"{%endif%}>
    	{% if std.withdrawn %}{% if std.withdrawn_date %}C{%else%}N/A{%endif%}{%else%}{{std.withdrawn_date|date:"M-y"}}{% endif %}
    </td>
    </tr>{% endif %}
    {% endfor %}
    </tbody>
</table>
